{% block title %}Admin{% endblock %} 

{% block content %}
<h2>Bonjour</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <a href="{{ path('ajoutSpectacle') }}">
            <button class="btn btn-info">Ajouter un Spectacle</button>
        </a>
        <ul>
            {% for spectacle in spectacles %}
                <li>{{ spectacle.title}}</li>
                <a href="{{ path('deleteSpectacle', {id: spectacle.id})}}">Supprimer</a> |
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}