	{% extends "layout.html.twig" %}
		{% block title %}Ma page d'accueil{% endblock %}

		{% block content %}
            <h2>Seurche angine</h2>
            <form action="">
                <input type="text" name="title">
                <button type="submit">Rechercher</button>
            </form>
            <h2>Mes articles</h2>
            {% for flashMessage in app.session.flashbag.get('success') %}
            {# affichage du message de réussite #}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}          
			
		{% endblock %}

		{# commentaires #}

		