{% extends "layout.html.twig" %} {% block title %} Contact {% endblock %} {% block content %}
<script src="https://www.paypalobjects.com/api/checkout.js">
</script>


<body>
    <div id="paypal-button-container"></div>

    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox: 'AeOAHGrb7AcEKnFbHiSssyH02v8DE6zJtOInmscl3rNqw7ydBdtrBuwXFKJguqyBfTwVCkuYjKObXu9n',
                production: 'ASgTFWvTPm8odupjdXZomcECiXUnhmqzFsM5uR_08JWpOFw5fAzmVxa_8a3kdMSVsEOxLyZ0_afaxJ1a'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [{
                            amount: {
                                total: '10.00',
                                currency: 'EUR'
                            }
                        }]
                    }
                });
            },


            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypal-button-container');
    </script>
</body>

{% endblock %}