/* veuillez modifier un petit peu le css du thème parce que là .. bon.. */
.livredor{
	color: whitesmoke;
}

.form-control{
    display: flex !important;
}
/* 

alors ça, c'est ce qu'on appelle le CSS (pour cascading styling sheet)
le css permet de mettre en forme les éléments html de vos pages et ça c'est bien 
du coup on peut faire des trucs pas trop moches ou approchant, d'un coup d'un seul en restant assis
sur son culcul
*/
#spectacle_dateVenue_date_year{
    
}

#spectacle_dateVenue_date{
    margin-right: 2em;    
}

#spectacle_dateVenue_date select, #spectacle_dateVenue_time select{
    padding: 0.5em 2em;
    border-radius: 0.3em;
    margin-right: 0.5em;
    border: 1px solid #1c014c;
}

#spectacle_dateVenue_time_minute{
    margin-left: 0.5em;  
}

