
 <h3 class="section-subheading text-muted">Le prix du {{spectacle.type}} est de : {{ spectacle.price}}€</h3>
 <h3 class="section-subheading text-muted">Il reste actuellement {{placeRestante}} place(s).</h3>